<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DummyWpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="ExcelServiceSoap">
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Ntlm" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vsgc-wss/_vti_bin/excelservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExcelServiceSoap"
                contract="SPExcelService.ExcelServiceSoap" name="ExcelServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <DummyWpfApp.Properties.Settings>
            <setting name="DummyWpfApp_SP2ExcelService_ExcelService" serializeAs="String">
                <value>http://vsgc-wss/_vti_bin/excelservice.asmx</value>
            </setting>
        </DummyWpfApp.Properties.Settings>
    </applicationSettings>
</configuration>